doctype html
html(lang='en')
  head
    // Required meta tags
     // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    
    title Agro Oriental - 404 Error
    meta(name='keywords', content='Agro Oriental')
    meta(name='author', content='Agro Oriental')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', ,content="https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/logos/agrooriental-insta-logo.jpg")
    // Mobile App Download Meta
    link(rel='shortcut icon', sizes='64x64 48x48 32x32 24x24 16x16', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/favicon.ico')
    link(rel='icon', type='image/png', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/favicon-128x128.png', sizes='128x128')
    meta(name='application-name', content='Agro Oriental')
    link(rel='apple-touch-icon', sizes='57x57', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='application-name', content='Agro Oriental')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    link(rel='apple-touch-icon-precomposed', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-57x57.png', sizes='57x57')
    link(rel='apple-touch-icon-precomposed', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-76x76.png', sizes='76x76')
    link(rel='apple-touch-icon-precomposed', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-120x120.png', sizes='120x120')
    link(rel='apple-touch-icon-precomposed', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-144x144.png', sizes='144x144')
    link(rel='apple-touch-icon-precomposed', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-152x152.png', sizes='152x152')
    base(href='/')
    
    link(rel='stylesheet' href='/majestic/materialdesignicons.min.css')
    link(rel='stylesheet' href='/majestic/base.css')
    link(rel='stylesheet' href='/majestic/style.css')
    link(rel='shortcut icon' href='/majestic/favicon.ico')
  body(data-new-gr-c-s-check-loaded='14.1009.0' data-gr-ext-installed='')
    .container-scroller
      .container-fluid.page-body-wrapper.full-page-wrapper
        .content-wrapper.d-flex.align-items-center.text-center.error-page.bg-primary
          .row.flex-grow
            .col-lg-7.mx-auto.text-white
              .row.align-items-center.d-flex.flex-row
                .col-lg-6.text-lg-right.pr-lg-4
                  h1.display-1.mb-0 404
                .col-lg-6.error-page-divider.text-lg-left.pl-lg-4
                  h2 SORRY!
                  h3.font-weight-light The page you’re looking for was not found.
              .row.mt-5
                .col-12.text-center.mt-xl-2
                  a.text-white.font-weight-medium(href='/') Back to home
              .row.mt-5
                .col-12.mt-xl-2
                  p.text-white.font-weight-medium.text-center Copyright © 2018  All rights reserved.
                  
        script(src='/majestic/vendor_bundle_base.js')
        script(src='/majestic/off-canvas.js')
        script(src='/majestic/hoverable-collapse.js')
        script(src='/majestic/template.js')
        script(src='/majestic/settings.js')
        script(src='/majestic/todolist.js')
