doctype html
html
  head
    meta(name='layout', content='bootstrap')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    title Agro Oriental
    meta(name='keywords', content='Agro Oriental')
    meta(name='author', content='Agro Oriental')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Agro Oriental')
    // Mobile App Download Meta
    meta(name='apple-itunes-app', content='app-id=1430383201, app-argument=/')
    link(rel='shortcut icon', sizes='64x64 48x48 32x32 24x24 16x16', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/favicon.ico')
    link(rel='icon', type='image/png', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/favico-new/favicon-128.png', sizes='128x128')
    link(rel='icon', type='image/png', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/favicon-196.png', sizes='196x196')
    link(rel='shortcut icon', sizes='196x196', type='image/png', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/favicon-196.png')
    meta(name='application-name', content='Agro Oriental')
    link(rel='apple-touch-icon', sizes='57x57', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='application-name', content='Agro Oriental')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    link(rel='apple-touch-icon-precomposed', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-57x57.png', sizes='57x57')
    link(rel='apple-touch-icon-precomposed', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-76x76.png', sizes='76x76')
    link(rel='apple-touch-icon-precomposed', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-120x120.png', sizes='120x120')
    link(rel='apple-touch-icon-precomposed', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-144x144.png', sizes='144x144')
    link(rel='apple-touch-icon-precomposed', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/favicon/apple-icon-152x152.png', sizes='152x152')
    base(href='/')

    script(src='https://s3.amazonaws.com/rewo/backoffice/js/jquery.min.js')
    script(src='https://s3.amazonaws.com/rewo/backoffice/js/jquery-ui.min.js')

    // plugins:css
    link(rel="stylesheet", href="/majestic/vertical-layout-light/style.css")
    link(rel='stylesheet', href='https://s3.amazonaws.com/rewo/backoffice/vendors/mdi/css/materialdesignicons.min.css?version=1')
    link(rel='stylesheet', href='https://s3.amazonaws.com/rewo/backoffice/vendors/base/vendor.bundle.base.css')
    // endinject
    // plugin css for this page
    link(rel='stylesheet', href='https://s3.amazonaws.com/rewo/backoffice/vendors/datatables.net-bs4/dataTables.bootstrap4.css')
    // End plugin css for this page
    // inject:css
    link(rel='stylesheet', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/css/style.css')

    link(rel='stylesheet', href='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/css/login-style.css')

    style.
      .auth.app-full-bg {
        background: #333333 none repeat center center !important;
        background-size: cover;
        background-position: center;
      }
      .auth .app-profile-img {
        width: 100%;
        height: auto;
      }
      .auth .form-control {
        color: #ffffff;
      }
      select {
          appearance: auto !important;
      }

  body
    .container-scroller
      .container-fluid.page-body-wrapper.full-page-wrapper
        block content

