
doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  
  title Agro Oriental
  meta(name='keywords', content='Agro Oriental')
  meta(name='author', content='Agro Oriental')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', ,content="https://mercadoagro-backoffice.s3.amazonaws.com/images/logos/icon.png")
  // Mobile App Download Meta
  link(rel='shortcut icon', sizes='64x64 48x48 32x32 24x24 16x16', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon.ico')
  link(rel='icon', type='image/png', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-128x128.png', sizes='128x128')
  meta(name='application-name', content='Agro Oriental')
  link(rel='apple-touch-icon', sizes='57x57', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-57x57.png')
  link(rel='apple-touch-icon', sizes='60x60', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-60x60.png')
  link(rel='apple-touch-icon', sizes='72x72', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='76x76', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-76x76.png')
  link(rel='apple-touch-icon', sizes='114x114', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-114x114.png')
  link(rel='apple-touch-icon', sizes='120x120', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-120x120.png')
  link(rel='apple-touch-icon', sizes='144x144', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-144x144.png')
  link(rel='apple-touch-icon', sizes='152x152', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-152x152.png')
  link(rel='apple-touch-icon', sizes='180x180', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-180x180.png')
  link(rel='icon', type='image/png', sizes='192x192', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/android-icon-192x192.png')
  link(rel='icon', type='image/png', sizes='32x32', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='96x96', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-96x96.png')
  link(rel='icon', type='image/png', sizes='16x16', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-16x16.png')
  link(rel='manifest', href='/manifest.json')
  meta(name='application-name', content='Agro Oriental')
  meta(name='msapplication-TileColor', content='#ffffff')
  meta(name='msapplication-TileImage', content='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/ms-icon-144x144.png')
  meta(name='theme-color', content='#ffffff')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-57x57.png', sizes='57x57')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-76x76.png', sizes='76x76')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-120x120.png', sizes='120x120')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-144x144.png', sizes='144x144')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-152x152.png', sizes='152x152')
  base(href='/')

  // plugins:css
  link(rel='stylesheet', href='https://s3.amazonaws.com/rewo/backoffice/vendors/mdi/css/materialdesignicons.min.css?version=1')
  link(rel='stylesheet', href='https://s3.amazonaws.com/rewo/backoffice/vendors/base/vendor.bundle.base.css')
  // endinject
  // plugin css for this page
  link(rel='stylesheet', href='https://s3.amazonaws.com/rewo/backoffice/vendors/datatables.net-bs4/dataTables.bootstrap4.css')
  // End plugin css for this page
  // inject:css
  link(rel='stylesheet', href='https://mercadoagro-backoffice.s3.amazonaws.com/css/style.css?version=2')

  script(src='https://s3.amazonaws.com/rewo/backoffice/js/jquery.min.js')
  script(src='https://s3.amazonaws.com/rewo/backoffice/js/jquery-ui.min.js')

  link(rel='stylesheet', href='/auth/change-password.css?version=2')
  
.container-scroller
  .container-fluid.page-body-wrapper.full-page-wrapper
    .content-wrapper.d-flex.align-items-stretch.auth.auth-img-bg
      .row.flex-grow(style="background:#fff")
        .col-lg-6.d-flex.align-items-center.justify-content-center
          .auth-form-transparent.text-left.p-3
            .brand-logo
              img(src='https://mercadoagro-backoffice.s3.amazonaws.com/images/logos/mercadoagro-logo-h600.png', alt='logo')
            h4 Cambio de contraseña
            h6.font-weight-light La contraseña debe contener al menos 8 caracteréres, incluír un número, una minúscula y una mayúscula.
            form.pt-3(method='post', name='resetPasswordForm', action='/reset-password')
              .form-group
                label Email
                .input-group
                  .input-group-prepend.bg-transparent
                    span.input-group-text.bg-transparent.border-right-0
                      i.mdi.mdi-email-outline.text-primary
                  input#emailInput.form-control.form-control-lg.border-left-0(type='email', placeholder='Email', name='email', required)    
                label Contraseña Actual
                .input-group
                  .input-group-prepend.bg-transparent
                    span.input-group-text.bg-transparent.border-right-0
                      i.mdi.mdi-lock-outline.text-primary
                  input#oldPasswordInput.form-control.form-control-lg.border-left-0(type='password', placeholder='Contraseña', name='apassword', required)
              .form-group
                label Nueva Contraseña
                .input-group
                  .input-group-prepend.bg-transparent
                    span.input-group-text.bg-transparent.border-right-0
                      i.mdi.mdi-lock-outline.text-primary
                  input#newPasswordInput.form-control.form-control-lg.border-left-0(type='password', placeholder='Contraseña', name='npassword', pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", title="La contraseña debe contener al menos 8 caracteréres, incluír un número, una minúscula y una mayúscula.", required)
                label Repetir contraseña
                .input-group
                  .input-group-prepend.bg-transparent
                    span.input-group-text.bg-transparent.border-right-0
                      i.mdi.mdi-lock-outline.text-primary
                  input#newRePasswordInput.form-control.form-control-lg.border-left-0(type='password', placeholder='Repetir contraseña', name='repassword', pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", required)
              #message.message
                h5 La contraseña debe contener:
                p#letter.invalid 
                  | Una letra 
                  b minúscula
                p#capital.invalid 
                  | Una letra 
                  b mayúscula
                p#number.invalid 
                  | Un 
                  b número
                p#length.invalid 
                  | Al menos 
                  b 8 caracteres
              #messagePass.message
                h5 Las contraseñas son distintas
                p#iguality.valid 
                  | Las contraseñas coinciden
                p#desiguality.invalid
                  | Las contraseñas 
                  b NO 
                  | coinciden
                  
              .mt-3
                button.btn.btn-block.btn-primary.btn-lg.font-weight-medium.auth-form-btn(type='submit') Cambiar Contraseña

        .col-lg-6.register-half-bg.d-flex.flex-row
          p.text-white.font-weight-medium.text-center.flex-grow.align-self-end Copyright &copy; 2020  All rights reserved.

script(src='https://s3.amazonaws.com/rewo/backoffice/vendors/base/vendor.bundle.base.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/vendors/datatables.net/jquery.dataTables.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/vendors/datatables.net-bs4/dataTables.bootstrap4.js')
// End plugin js for this page
// inject:js
script(src='https://s3.amazonaws.com/rewo/backoffice/js/off-canvas.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/js/hoverable-collapse.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/js/template.js')

script(src='/auth/change-password.js')