doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    title MercadoAgro Error
    meta(name='keywords', content='MercadoAgro')
    meta(name='author', content='MercadoAgro')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', ,content="https://mercadoagro-backoffice.s3.amazonaws.com/images/logos/icon.png")
    // Mobile App Download Meta
    link(rel='shortcut icon', sizes='64x64 48x48 32x32 24x24 16x16', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon.ico')
    link(rel='icon', type='image/png', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-128x128.png', sizes='128x128')
    meta(name='application-name', content='MercadoAgro')
    link(rel='apple-touch-icon', sizes='57x57', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='application-name', content='MercadoAgro')
    link(rel='stylesheet' href='/majestic/base.css')
    link(rel='stylesheet' href='/majestic/style.css')
  body(data-new-gr-c-s-check-loaded='14.1009.0' data-gr-ext-installed='')
    .container-scroller
      .container-fluid.page-body-wrapper.full-page-wrapper
        .content-wrapper.d-flex.align-items-center.text-center.error-page.bg-info
          .row.flex-grow
            .col-lg-7.mx-auto.text-white
              .row.align-items-center.d-flex.flex-row
                .col-lg-6.text-lg-right.pr-lg-4
                  h1.display-1.mb-0 500
                .col-lg-6.error-page-divider.text-lg-left.pl-lg-4
                  h2 SORRY!
                  h3.font-weight-light Internal server error!
                  p #{message}
              .row.mt-5
                .col-12.text-center.mt-xl-2
                  a.text-white.font-weight-medium(href='/') Back to home
              .row.mt-5
                .col-12.mt-xl-2
                  p.text-white.font-weight-medium.text-center Copyright © 2018  All rights reserved.
        script(src='/majestic/vendor_bundle_base.js')
        script(src='/majestic/off-canvas.js')
        script(src='/majestic/hoverable-collapse.js')
        script(src='/majestic/template.js')
        script(src='/majestic/settings.js')
        script(src='/majestic/todolist.js')

