
doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  
  title Agro Oriental
  meta(name='keywords', content='Agro Oriental')
  meta(name='author', content='Agro Oriental')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', ,content="https://mercadoagro-backoffice.s3.amazonaws.com/images/logos/icon.png")
  // Mobile App Download Meta
  link(rel='shortcut icon', sizes='64x64 48x48 32x32 24x24 16x16', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon.ico')
  link(rel='icon', type='image/png', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-128x128.png', sizes='128x128')
  meta(name='application-name', content='Agro Oriental')
  link(rel='apple-touch-icon', sizes='57x57', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-57x57.png')
  link(rel='apple-touch-icon', sizes='60x60', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-60x60.png')
  link(rel='apple-touch-icon', sizes='72x72', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='76x76', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-76x76.png')
  link(rel='apple-touch-icon', sizes='114x114', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-114x114.png')
  link(rel='apple-touch-icon', sizes='120x120', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-120x120.png')
  link(rel='apple-touch-icon', sizes='144x144', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-144x144.png')
  link(rel='apple-touch-icon', sizes='152x152', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-152x152.png')
  link(rel='apple-touch-icon', sizes='180x180', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-180x180.png')
  link(rel='icon', type='image/png', sizes='192x192', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/android-icon-192x192.png')
  link(rel='icon', type='image/png', sizes='32x32', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='96x96', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-96x96.png')
  link(rel='icon', type='image/png', sizes='16x16', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-16x16.png')
  link(rel='manifest', href='/manifest.json')
  meta(name='application-name', content='Agro Oriental')
  meta(name='msapplication-TileColor', content='#ffffff')
  meta(name='msapplication-TileImage', content='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/ms-icon-144x144.png')
  meta(name='theme-color', content='#ffffff')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-57x57.png', sizes='57x57')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-76x76.png', sizes='76x76')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-120x120.png', sizes='120x120')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-144x144.png', sizes='144x144')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-152x152.png', sizes='152x152')
  base(href='/')

  // plugins:css
  link(rel="stylesheet", href="/majestic/vertical-layout-light/style.css")
  link(rel='stylesheet', href='https://s3.amazonaws.com/rewo/backoffice/vendors/mdi/css/materialdesignicons.min.css?version=1')
  link(rel='stylesheet', href='https://s3.amazonaws.com/rewo/backoffice/vendors/base/vendor.bundle.base.css')
  // endinject
  // plugin css for this page
  link(rel='stylesheet', href='https://s3.amazonaws.com/rewo/backoffice/vendors/datatables.net-bs4/dataTables.bootstrap4.css')
  // End plugin css for this page
  // inject:css
  link(rel='stylesheet', href='https://mercadoagro-backoffice.s3.amazonaws.com/css/style.css')
  style.
    .desktop-only {
      display: flex;
    }
    .mobile-only {
      display: flex;
    }
    @media screen and (min-width: 600px) {
      .mobile-only {
        display: none;
      }
    }
    @media screen and (max-width: 600px) {
      .desktop-only {
        display: none;
      }
    }
    select {
        appearance: auto !important;
    }

  script(src='https://s3.amazonaws.com/rewo/backoffice/js/jquery.min.js')
  script(src='https://s3.amazonaws.com/rewo/backoffice/js/jquery-ui.min.js')
  script(src='https://cdn.socket.io/4.7.4/socket.io.min.js')
  script.
    const socket = io();
    const socketApp = io('mercado-agro.com', {
      transports: ['websocket', 'xhr-polling']
    });
    const socketAppWWW = io('www.mercado-agro.com', {
      transports: ['websocket', 'xhr-polling']
    });

body
  .container-scroller
    .container-fluid.page-body-wrapper.p-0.h-100
    
      block content
            
script(src='https://s3.amazonaws.com/rewo/backoffice/vendors/base/vendor.bundle.base.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/vendors/datatables.net/jquery.dataTables.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/vendors/datatables.net-bs4/dataTables.bootstrap4.js')
script(src='/sweetalert.min.js')

script(src='https://s3.amazonaws.com/rewo/backoffice/js/off-canvas.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/js/hoverable-collapse.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/js/template.js')