.desktop-only {
    display: flex;
}

.mobile-only {
    display: flex;
}

@media screen and (min-width: 600px) {
    .mobile-only {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .desktop-only {
        display: none;
    }
}

select {
    appearance: auto !important;
}

.row {
    --bs-gutter-x: 0 !important;
    margin-right: 0;
    margin-left: 0;
}

.balance-header {
    background: #333333;
}

.balance-header .user-profile-icon {
    margin: auto;
    background-image: url("https://mercadoagro-backoffice.s3.amazonaws.com/images/customers/no-profile-img.png?ver=2024-04-11");
    background-color: #ffffff;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 50%;
    width: 35px;
}

.balance-header a {
    font-size: 15px;
}

#header-nav-tabs.nav-tabs .nav-item .nav-link.active {
    border-color: #ffffff;
}

.cattle-media-container {
    height: 245px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.cattle-media-container > video {
    height: 100%;
    width: auto;
}

.cattle-media-container > .cattle-image {
    background-size: cover;
}

.cattle-media-container > div > button > i,
.cattle-media-container > div > a > i {
    font-size: 1.5rem !important;
}

.content-overlay-video {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.lot-detail,
.no-drag {
    display: block;
    position: absolute;
    left: -100vw;
    top: auto;
    bottom: -100vh;
    width: 100vw;
    height: 100%;
    min-height: 100%;
    background: #fff;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-property: bottom, box-shadow;
    z-index: 9997;
}

.lot-detail.open {
    bottom: 0;
    left: 0;
    box-shadow: 7px 0 80px -9px rgba(0, 0, 0, 0.2);
}

.lot-detail .lot-detail-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: env(safe-area-inset-top, 50px);
    cursor: pointer;
    transition-duration: 0.2s;
    z-index: 999;
}

.lot-detail-wrapper {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.share-contact {
    display: block;
    position: absolute;
    left: -100vw;
    top: auto;
    bottom: -100vh;
    width: 100vw;
    height: 100%;
    background: transparent;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-property: bottom, box-shadow;
    z-index: 9998;
}

.share-contact.open {
    bottom: 0;
    left: 0;
    box-shadow: 7px 0 80px -9px rgba(0, 0, 0, 0.2);
}

.share-contact-bg {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.share-contact-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
}

.lot-chat {
    display: block;
    position: absolute;
    left: -100vw;
    top: auto;
    bottom: -100vh;
    width: 100vw;
    height: 100%;
    min-height: 100%;
    background: #fff;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-property: bottom, box-shadow;
    z-index: 9997;
}

.lot-chat.open {
    bottom: 0;
    left: 0;
    box-shadow: 7px 0 80px -9px rgba(0, 0, 0, 0.2);
}

.lot-chat-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
}

.lot-chat .lot-chat-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: env(safe-area-inset-top, 50px);
    cursor: pointer;
    transition-duration: 0.2s;
    z-index: 999;
}

.lot-chat .lot-chat-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lot-chat .comments-container-overall {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lot-chat .contenteditable-container {
    position: fixed;
    bottom: 0;
}

.lot-chat .contenteditable-container .chat-send-button {
    font-size: 20px;
}

.lot-chat .contenteditable-container .chat-edit-container {
    max-width: 84%;
}

.lot-chat .contenteditable-container div.chat-edit {
    right: 50px;
    min-height: 40px;
    border-radius: 15px;
}

.auction-bid {
    display: block;
    position: absolute;
    left: -100vw;
    top: auto;
    bottom: -100vh;
    width: 100vw;
    height: 100%;
    background: transparent;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-property: bottom, box-shadow;
    z-index: 9998;
}

.auction-bid.open {
    bottom: 0;
    left: 0;
    box-shadow: 7px 0 80px -9px rgba(0, 0, 0, 0.2);
}

.auction-bid-bg,
.auction-bid-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.auction-bid-bg {
    z-index: 1;
}

.auction-bid-container {
    z-index: 9999;
}

.auction-bid-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
}

.nav-tabs .nav-item .nav-link.active {
    border-color: #ffffff;
}

#search-for-cattle {
    background: transparent;
}

.bottom-overlay-video {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 33%, rgb(0, 0, 0, 0) 67%);
    z-index: 999;
}

.bottom-overlay-video .bid-action-button,
.auction-bid .bid-action-button {
    font-size: large;
}

.auction-bid [id^=buy-action-button] {
    font-size: large;
    font-weight: bold;
}

.lot-description {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    z-index: 999;
}

.iconbar-overlay-video {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ffffff;
    width: 25%;
    z-index: 999;
}

.topbar-overlay-video {
    position: fixed;
    top: 0;
    color: #ffffff;
    z-index: 999;
}

.topbar-overlay-video #top-menu {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

#top-menu .user-profile-icon {
    margin: auto;
    background-image: url("https://mercadoagro-backoffice.s3.amazonaws.com/images/customers/no-profile-img.png?ver=2024-04-11");
    background-color: #ffffff;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 50%;
    width: 35px;
}

#top-menu a {
    font-size: 15px;
}

.topbar-overlay-video li.nav-item .nav-link {
    border-color: rgba(255, 255, 255, 0.75) !important;
}

input[id^="auction-bid-price-"] {
    width: 80px;
}

.google-map-container {
    height: 0px;
    overflow: hidden;
}

.map-closed-icon {
    background-image: url("https://mercadoagro-app.s3.amazonaws.com/images/home/maps-icon.png");
    background-color: transparent;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 50px;
}

[id^="google-map-bottom-desc"] .gm-style-iw-chr button,
[id^="google-map-lot-detail"] .gm-style-iw-chr button {
    display: none !important;
}

.countdown-container .countdown-day-container {
    margin-right: 1.5rem !important;
}

.countdown-container h3 {
    background: rgba(255, 0, 0, 1);
}

/* Top bar infinite auto scroll */

@keyframes infiniteScroll {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}

.container-infinite-scroll {
    width: 100%;
    overflow-x: hidden;
    background: #000000;
    position: relative;
}

.container-infinite-scroll>.button-infinite-scroll {
    position: absolute;
    right: 0;
    z-index: 100;
    background: #000000;
    padding-right: 12px;
}

.horizontal-scrolling-items {
    display: flex;
    font-size: 20px;
    width: 6000px;
    animation-name: infiniteScroll;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.horizontal-scrolling-items__item {
    white-space: nowrap;
}

.share-contact-salesagent {
    margin: auto;
    background-image: url("https://mercadoagro-backoffice.s3.amazonaws.com/images/customers/no-profile-img.png?ver=2024-04-11");
    background-color: #ffffff;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 50%;
    width: 50px;
}

.blink_me {
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}




.footer .paginator:not(.paginator-more-button) a {
  color: #eeeeee;
}
.paginator:not(.paginator-more-button) a:after {
  background-color: var(--the7-accent-color);
}
#footer.solid-bg {
  background: #1a1c20 none repeat center top;
}
#footer.footer-outline-decoration {
  border-top: 1px solid rgba(129,215,66,0.96);
}
.wf-container-footer,
.footer.full-width-line {
  border-top: 1px solid #1a1c20;
}
.header-side-left.footer-overlap.boxed-layout:not(.sticky-header) #footer,
.header-side-right.footer-overlap.boxed-layout:not(.sticky-header) #footer {
  max-width: 1580px;
}
#footer .wf-container-footer {
  padding-top: 50px;
  padding-bottom: 15px;
}
#footer .wf-container {
  margin: 0 -25px;
}
.footer .widget {
  color: #8b8d94;
  padding: 0 25px;
}
.footer .widget,
.footer .tp_recent_tweets li {
  font: var(--the7-widget-content-font);
  text-transform: var(--the7-widget-content-text-transform);
  letter-spacing: var(--the7-widget-content-letter-spacing);
  text-decoration: var(--the7-widget-content-text-decoration);
}
#footer.full-width > .wf-wrap,
#footer.full-width #bottom-bar > .wf-wrap {
  width: 100%;
}
#footer > .wf-wrap,
#footer #bottom-bar > .wf-wrap {
  padding: 0 50px 0 50px;
}
#bottom-bar.solid-bg {
  background: rgba(255,255,255,0.12) none repeat center top;
}
.wf-container-bottom,
#bottom-bar.full-width-line {
  border-top: 1px solid rgba(255,255,255,0.12);
}
.wf-container-bottom {
  padding: 10px 0 10px 0;
  min-height: 60px;
}
#bottom-bar {
  font-size: var(--the7-text-small-font-size);
  line-height: var(--the7-text-small-line-height);
  color: #eeeeee;
}
#bottom-bar .mini-nav li:before {
  border-left-color: #38393a;
}
.footer-sub-nav > li.act > a .menu-text,
.footer-sub-nav > li:not(.act):hover > a .menu-text,
.footer-sub-nav > li.act > a .subtitle-text,
.footer-sub-nav > li:not(.act):hover > a .subtitle-text {
  color: var(--the7-accent-color);
}
#bottom-bar a,
#bottom-bar .mini-nav .customSelect,
#bottom-bar .menu-select {
  color: #eeeeee;
}
#bottom-bar .menu-select svg {
  fill: #eeeeee;
}
#bottom-bar .mini-search,
#bottom-bar .mini-contacts:before {
  background-color: rgba(0,0,0,0.07);
}
#branding-bottom {
  padding: 8px 12px 8px 0px;
}
.no-avatar,
.testim-no-avatar {
  border: 1px solid;
  border-color: var(--the7-divider-color);
}
.footer .no-avatar,
.footer .testim-no-avatar {
  border-color: rgba(139,141,148,0.15);
}
.testim-no-avatar svg {
  fill: var(--the7-divider-color);
}
.no-avatar,
.no-avatar svg,
.comment-list .no-avatar:after {
  color: var(--the7-divider-color);
  fill: var(--the7-divider-color);
}
.footer .no-avatar,
.footer .no-avatar svg,
.footer .comment-list .no-avatar:after {
  color: rgba(139,141,148,0.15);
}
.scroll-top {
  border-radius: 0px;
}
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="range"],
input[type="password"],
select,
textarea {
  font: var(--the7-form-md-font);
  letter-spacing: var(--the7-form-md-letter-spacing);
  text-transform: var(--the7-form-md-text-transform);
  text-decoration: var(--the7-base-text-decoration);
}
.content .wpcf7-select {
  line-height: calc(var(--the7-input-height) - 14px);
  min-width: 200px;
}
a.clear-form,
#cancel-comment-reply-link {
  font-size: var(--the7-text-small-font-size);
  line-height: var(--the7-text-small-line-height);
  color: var(--the7-secondary-text-color);
}
.footer a.clear-form,
.footer #cancel-comment-reply-link {
  color: rgba(139,141,148,0.5);
}
.customSelect {
  font: var(--the7-base-font);
  background-color: rgba(139,141,148,0.08);
}
.footer .customSelect {
  background-color: rgba(139,141,148,0.08);
}
.shortcode-code {
  background-color: var(--the7-content-boxes-bg);
}
.shadow-element-decoration .shortcode-code {
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.outline-element-decoration .shortcode-code {
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
}
.content table,
.content td,
.content th {
  border-color: var(--the7-divider-color);
}
.dt-highlight {
  color: #fff;
  background-color: var(--the7-accent-color);
}
.footer .post-content .text-secondary {
  color: rgba(139,141,148,0.5);
}
.shortcode-banner-bg > * {
  line-height: var(--the7-base-line-height);
}
.footer .layzr-bg {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" stroke="rgba(139,141,148,0.25)"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg transform="translate(1 1)" stroke-width="2"%3E%3Ccircle stroke-opacity=".55" cx="18" cy="18" r="18"/%3E%3Cpath d="M36 18c0-9.94-8.06-18-18-18"%3E%3CanimateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}
.footer .layzr-bg:not(.layzr-bg-transparent) {
  background-color: rgba(139,141,148,0.05);
}