script(src='https://s3.amazonaws.com/rewo/backoffice/vendors/base/vendor.bundle.base.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/vendors/datatables.net/jquery.dataTables.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/vendors/datatables.net-bs4/dataTables.bootstrap4.js')

script(src='https://s3.amazonaws.com/rewo/backoffice/js/off-canvas.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/js/hoverable-collapse.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/js/template.js')

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
script(src='https://code.jquery.com/ui/1.14.1/jquery-ui.min.js')