#thank-you-message.row.thanks-message.text-center.h-100
  .col-12.px-4.h-100
    .container
      i.mdi.mdi-check-circle.text-success
      h3 Completaste el lote!
      p.mb-4 
        | La información fue guardada! Los revisaremos y nos pondremos en contacto a la brevedad.
      p.mb-5
        a.btn.btn-primary.mb-4.mx-2(href="/")
          | Ir a comprar
        a.btn.btn-warning.text-dark.mb-4.mx-2(href="/ganado/vender")
          | Seguir vendiendo