.row.w-100.balance-header.align-items-center.m-0.p-0.px-3.pb-4.fixed-top
  .col-md-12.m-0.p-0
    .d-flex.justify-content-between.flex-wrap.mt-3
      .d-flex.align-items-center.flex-wrap
        - var __aux_style = ""
        if(customer)
          - __aux_style = customer.customerImage ? 'background-image:url(' + customer.customerImage + ');' : "";
        .user-profile-icon(style=__aux_style, onclick="window.location.href = '/usuario/perfil'")
          img.w-100(src='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/transparent-pixel.png')
        ul#header-nav-tabs.nav.nav-tabs.border-0(role='tablist')
          li.nav-item.ml-2
            a.nav-link.text-white.pt-2(href='javascript:auctionInfo()')  
              b Info. y Cond.
      .d-flex.justify-content-between.align-items-end.flex-wrap
        button.btn.border-0.p-0(id="only-active-auctions-bids", onclick="showActiveAuctionBids()")
          i.mdi.mdi-toggle-switch-off.text-danger(style="font-size: 2.5rem;")

.row.w-100.balance-header.align-items-center.m-0.p-0.px-3.pb-4.invisible
  .col-md-12.m-0.p-0
    .d-flex.justify-content-between.flex-wrap.mt-3
      .d-flex.align-items-center.flex-wrap
        .user-profile-icon(style=__aux_style)
          img.w-100(src='https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/transparent-pixel.png')