link(href='/home/styles-search.css?ver=1', rel='stylesheet', type='text/css')

.search-overlay-video
  .form-group.mt-4
    .input-group
      .input-group-prepend
        button#search-overlay-video-close.btn.btn-inverse-light.btn-fw.text-dark.bg-white.border-0.h-100(type="button")
          span.icon-md
            i.mdi.mdi-chevron-left
      .input-group-prepend
        span.input-group-text.py-0.h-100
          i.mdi.mdi-magnify
      input#search-input-text.form-control.input-group-text.border-0(type='search')
      .input-group-append
        button#search-btn.btn.btn-inverse-light.btn-fw.text-danger.bg-white.border-0.h-100(type="button")
          | Buscar

  .row.mx-1
    each cattleCaracteristicsItem, ccIndex in cattleCaracteristics
      .col-2.px-1
        button.btn.btn-light.btn-icon.w-100.p-1.h-auto(type="button", id="search-cattle-caracteristics-" + ccIndex, onclick="toggleCattleCaracteristics(this,"+ ccIndex + ")")
          img.w-100(src=cattleCaracteristicsItem.icon)
            
  if(cattleTypesAverages && cattleTypesAverages.length)
    .categories-scrolling-items.py-2.mt-3
      each cattleTypeItem in cattleTypesAverages
        .categories-scrolling-items__item.mx-2
            button.btn.btn-light.btn-lg.px-2(id="search-cattle-type-" + cattleTypeItem.cattleTypeId, type="button", onclick="toggleCategorySelection(" + cattleTypeItem.cattleTypeId + ")")
              | #{cattleTypeItem.name}

  #google-map-search-container.w-100

script(src='/home/maps-search.js?version=1')
                      
