.message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

.message p {
    padding: 0 15px;
}

/* Add a green text color and a checkmark when the requirements are right */
.message .valid {
    color: green;
}

.message .valid:before {
    position: relative;
    left: -15px;
    content: "✔";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.message .invalid {
    color: red;
}

.message .invalid:before {
    position: relative;
    left: -15px;
    content: "✖";
}

#iguality,
#desiguality {
    display: none;
}

.auth .register-half-bg {
    background: url("https://agro-oriental-remates.s3.us-west-1.amazonaws.com/images/login/reset-password-right-big.jpg");
    background-size: cover;
}